/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

@import "mixins/_960"

form.formtastic
  margin-left -20px
  fieldset
    &.buttons
      padding-left 0
      grid(4)
      pull(4)
      li
        float none
        overflow visible /* should be auto? */
        margin 0
        padding 0
        text-align center
    > ol
      > li
        label
          grid(2)
        &.boolean label
          grid(2)
          pull(2)
        p.inline-hints,
        fieldset ol
          margin-left 0
          padding-left 0
          grid(5)
          pull(2)
        &.text textarea
        &.string input
        &.password input
        &.numeric input
        &.email input
        &.url input
        &.phone input
        &.search input
          border solid 1px #ccc
          padding 5px
          grid(10, (-6) )
