<%= semantic_form_for [:admin, @ebay_auction.antique, @ebay_auction] do |f| %>
  <%= f.hidden_field :listing_status, :value => :pending %>
  <button id="list_auction_now">List Now!</button>
<% end %>
