<h1>Editing eBay Auction</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_antique_ebay_auction_path(@antique, @ebay_auction) %> |
<%= link_to 'Back', admin_antique_ebay_auctions_path(@antique) %>
