<h1>New Antique</h1>

<%- if @antique.errors.any? -%>
  <h2>There were errors creating the Antique</h2>
<%- end -%>

<%= semantic_form_for [:admin, @antique] do |f| %>
  <%= f.inputs %>
  <%= f.buttons %>
<% end %>