@import "compass/reset/utilities";

#photos_sidebar_section {
  ul {
    @include reset-list-style;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
  }
  .refresh {
    margin-top: 1em;
  }
}