display_box( pack_mode = "start" , alignment = "start" )
  display -moz-box
  display -webkit-box
  display box
  -moz-box-pack pack_mode
  -webkit-box-pack pack_mode
  box-pack pack_mode
  -moz-box-align alignment
  -webkit-box-align alignent
  box-align alignment

box_flex( n )
  -moz-box-flex n
  -webkit-box-flex n
  box-flex n
