linear_gradient(from_color, to_color)
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(from_color), to(to_color)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, from_color, to_color); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, from_color, to_color); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, from_color, to_color); /* IE10 */
  background-image:      -o-linear-gradient(top, from_color, to_color); /* Opera 11.10+ */
  background-image:         linear-gradient(top, from_color, to_color);
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='from_color', EndColorStr='to_color'); *//* IE6–IE9 */